.section {
  margin-top: 36px;
  margin-bottom: 36px;
}

.section .title {
  font-size: 1.875rem;
  line-height: 2.375rem;
  color: var(--ifm-heading-color);
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
}

.section .part {
  margin-bottom: var(--ifm-heading-margin-bottom);
}

.section .part .label {
  font-weight: 500;
  margin-bottom: 8px;
}
.section .part .list {
  display: flex;
  flex-wrap: wrap;
}
.section .part .list .link {
  display: flex;
  align-items: center;
  width: 14rem;
  margin-right: 2rem;
}

.section .part .list .link::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #999999;
  margin-right: 4px;
}

.card {
  width: 200px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  color: #666;
}
